<header class="headerTudx" [class.scroll]="menuFixo">  
    <div class="content">
        <div class="menu" [class.ativo]="menu === true" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()"> 
            <i class="icon-navbar"></i> <span>Categorias <i class="icon-angle-down"></i></span>
            <app-menu *ngIf="menu" [Toggle]="menuFixo"></app-menu>
        </div>
                
        <div class="logo-busca">
            <a class="logo" [routerLink]="''" title="Marca Tudx">
                <img src="./assets/imgs/logo.png" alt="Marca Tudx" />  
            </a>
 
            <app-busca *ngIf="menuFixo" [busca]="menuFixo"></app-busca>

        </div>
        
        <div class="menuRight">
            <ul class="logado" *ngIf="login">
                <li class="perfil" (mouseenter)="mouseLeave()"> 
                    <div class="menu-usuario">
                        <span class="circle">
                            <img src="https://www.switchvfx.com/wp-content/uploads/2013/12/Beau5-50x50.jpg" alt="">
                        </span>
                        <i class="icon-angle-down"></i>
                    </div>
                    <ul>
                        <li>
                            Minhas mensagens
                        </li>
                        <li>
                            Meus anúncios
                        </li>
                        <li>
                            Meus favoritos
                        </li>
                        <li>
                            Minha conta Tudx
                        </li>
                        <li>
                            Meus cupons
                        </li>
                        <li>
                            Sair
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Meus anúncios</span>
                </li>
                <li class="anuncie">
                    <a href="#" title="Anúncie grátis">
                        Anúncie grátis
                    </a>
                </li>
            </ul>
            <ul *ngIf="login == false">
                <li>
                    <span>Entrar</span>
                </li>
                <li class="criar-conta">
                    <span (click)="openModalCadastro()">Criar conta</span>
                </li>
                <li class="anuncie">
                    <a href="#" title="Anúncie grátis">
                        Anúncie grátis
                    </a>
                </li>
            </ul>
        </div>

    </div>
    
</header>

<nsu-modal #cadastro>
    <div class="contentModalCadastro">

        <div class="passo" *ngIf="passos == true && emailRedeSocial == false">
            <div class="menu">   
                <ul class="nav">
                    <li>
                        <button>Entrar</button>
                    </li>
                    <li class="ativo">
                        <button>Criar conta</button>
                    </li>
                </ul>
            </div>

            <div class="criar-conta">
                <h3>Crie sua conta e fique por<br> dentro de Tudx :) <span>Cadastre-se usando o:</span></h3>

                <div class="acesso">
                    <div class="contas">
                        <div class="conta-face" (click)="socialSignIn('facebook')">
                            <i class="icon-facebook"></i> Facebook
                        </div>
                        <div class="conta-google" (click)="socialSignIn('google')">
                            <i class="icon-google"></i> Google
                        </div>
                    </div>
                </div>
    
                <p>Ou Responda as perguntas a seguir:</p>

                <form [formGroup]="formUsuario">
                    <div class="form-group"> 
                        <input id="nome" class="form-control" type="text" placeholder="Vamos lá, qual seu nome?" (keyup.enter)="nextModal()" formControlName="nome" required />
                        <i *ngIf="formUsuario.controls['nome'].valid" class="icon-right-open animated slideInLeft" (click)="nextModal()"></i>
                        <i *ngIf="!formUsuario.controls['nome'].valid && formUsuario.controls['nome'].touched" class="icon-cancel"></i> 
                        <p class="erro" *ngIf="!checkPolitica">{{msgtermo}}</p>
                    </div>  
                </form>
                <div class="politica-de-privacidade">
                    <input type="checkbox" (change)="checkTermos($event)" /> 
                    <label>
                        Ao criar uma conta, você concorda com o <a href="#">Termo de uso</a><br> e a <a href="#">Política de Privacidade</a> do Tudx.
                    </label>
                </div> 

                
            </div>

            <div class="login">

            </div>

        </div>

        <div class="passo relative" *ngIf="!passos">

            <i class="icon-left-open" (click)="prevModal()"></i>
            <h3>Preencha os campos corretamente</h3>

            <form [formGroup]="formUsuario" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="E-mail" formControlName="email" required email />
                    <i *ngIf="!formUsuario.controls['email'].valid && formUsuario.controls['email'].touched" class="icon-cancel"></i>
                    <p class="erro" *ngIf="!formUsuario.controls['email'].valid && formUsuario.controls['email'].touched">Informe um e-mail valido!</p>
                </div>
    
                <div class="form-group">
                    <input class="form-control" [type]="typeSenha" placeholder="Senha" formControlName="senha" minlength="6" required/>
                    <i [class]="typeSenha == 'password' ? 'icon-eye' : 'icon-eye-off' " (click)="visualizarSenha()"></i>
                    <p class="erro" *ngIf="!formUsuario.controls['senha'].valid && formUsuario.controls['senha'].touched">Sua senha deve conter no minimo 6 caracteres!</p>
                </div>
    
                <div class="form-group">
                    <input [class.erro]="erro==true" (blur)="validaConfirmarSenha($event)" (focusout)="validaConfirmarSenha($event)" class="form-control" [type]="typeConfirmarSenha" placeholder="Confirmar senha" minlength="6" [value]="confirmarSenha" required/>
                    <i [class]="typeConfirmarSenha == 'password' ? 'icon-eye' : 'icon-eye-off' " (click)="visualizarConfirmarSenha()"></i>
                    <p class="erro confirmarSenha" [class.ativo]="erro==true" >Senha incorreta!</p>
                </div>
    
                <div class="form-group">
                    <input type="submit" class="enviar" value="Criar conta" />
                </div>
            </form>

        </div>

        <div class="completarCadastroRedeSocial" *ngIf="emailRedeSocial">
            <i class="icon-left-open" (click)="prevModal()"></i>
            <h3>Para associar a sua rede social <br>ao tudx complete o cadastro:</h3>
            <div class="form-group"> 
                <input class="form-control" type="email" placeholder="Informe seu e-mail" #inputEmailRedeSocial>
            </div>
            <div class="form-group"> 
                <button class="enviar" (click)="salvarLoginSocialComEmail(inputEmailRedeSocial.value)">Concluir cadastro</button>
            </div>
        </div>

    </div>
</nsu-modal>

<nsu-modal #msgSucesso>
    <div class="contentModalMsgsucesso">
        <h3>Conta Tudx criada com sucesso.<br> Favor confirmar seu cadastro através do link enviado para seu e-mail.</h3>
    </div>
</nsu-modal>