@import "../../theme/mixins.scss";
@import "../../theme/variaveis.scss";
@import "../../theme/placeholders.scss";

.headerTudx {
    width: 100%;
    height: rem(77);

    background: $cor1;
    color:#fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    position: relative;
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu {
            display: inline-block;
            @include font($fontRegular,14,rgba(255, 255, 255, 0.85)); 
            padding: rem(22) rem(24) rem(22) rem(24);
            position: relative;
            cursor: pointer;
            outline: none;
            &.ativo {
                background: #fff;
                color:$cor1;
            }
            &:before {
                content:"";
                background: rgba(139, 65, 186, 0.33);
                height: rem(81);
                width: 1px;
                position: absolute;
                top: -4px;
                right: 0;
            }
            i {
                font-size: rem(23);
            }
            span {
                margin-left: 5px;
                outline: none;
                position: relative;
                top:-3px;
                i {
                    font-size: rem(16);
                    position: relative;
                    top:1px;
                }
            }
        }
    
        .logo {
            display: block;
            text-align: center;
            padding: rem(20) 0;
            position: relative;
            left: rem(137);
            @include notebook {
                left: rem(115);
            }
        }
    
        .menuRight {
            text-align: right;
            ul {
                padding-right: rem(30);
                li {
                    display: inline-block;
                    @include font($fontRegular,14.5,rgba(255, 255, 255, 0.85)); 
                    padding: rem(24);
                    cursor: pointer;
                    @include notebook {
                        font-size: rem(14);
                        padding: rem(24) rem(15);
                    }
                    &:hover, &.ativo {
                        color:  $branco;
                        &.perfil ul {
                            display: block;
                            -webkit-animation-duration: 0.5s;
                            animation-duration: 0.5s;
                            -webkit-animation-fill-mode: both;
                            animation-fill-mode: both;
                            -webkit-animation-name: fadeIn;
                            animation-name: fadeIn;
                        }
                    }
                    i {
                        font-size: rem(18);
                        @include notebook {
                            font-size: rem(16);
                        }
                    }
                    &.favorito {
                        border-right: 1px dotted #14071c;
                        border-left: 1px dotted #14071c;
                    }
                    &.perfil {
                        position: relative;
                        padding: rem(20) 0;
                        .menu-usuario {
                            display: flex;
                            align-items: center;
                            .circle {
                                width: rem(38);
                                height: rem(38);
                                border-radius: 50%;
                                overflow: hidden;
                            }
                        }
                        ul {
                            display: none;
                            width: rem(170);
                            position: absolute;
                            top: rem(77);
                            left: rem(-12);
                            background: #f9f9f9;
                            border:1px solid $corBorda;
                            padding: rem(15) rem(5);
                            z-index: 9;
                            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.28);
                            li{
                                width: 100%;
                                display: block;
                                color:$cor3;
                                text-align: center;
                                padding: rem(5) rem(0);
                                &:last-child {
                                    padding-right: rem(0);
                                }
                                &:hover {
                                    text-decoration: underline;
                                    color:$cor3;
                                }
                            }
                        }
                    }
                    &.criar-conta span {
                        display: block;
                        padding: 0 rem(9) 0 0px;
                    }
                    &.anuncie {
                        border: 1px solid #1fbec8;
                        padding: rem(15) rem(20);
                        border-radius: 4px;
                        color:#1fbec8;
                    }
                }
            }
        }
    
        .busca {
            display: none;
        }
    }

    &.scroll{
        height: rem(65);
        box-shadow: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        .content {
            width: 1188px;
            margin: 0 auto;
            justify-content: normal;
            @media (max-width: 1140px) {
                width: 100%;
                margin: 0;
            }
            .menu {
                padding: rem(15) rem(24) rem(15) rem(24);
                @media (max-width: 1140px) {
                    padding-left: 10px
                }
                &:before {
                    height: rem(0);
                }
            }
    
            .logo-busca {
                display: flex;
                align-items: center;
                .logo {
                    width: rem(130);
                    left: initial;
                    padding-left: rem(15);
                }
            }
            
            .menuRight {
                ul li {
                    padding: rem(0) rem(10);
                    &.perfil {
                        padding: rem(13) 0;
                        ul {
                            top: rem(63);
                        }
                    }
                    &.anuncie {
                        padding: rem(13) rem(20);
                    }
                }
            }
            .menuRight ul li:first-child {
                span {
                    display: inline-block;
                }
            }
        }
    }
} 

.contentModalCadastro {
    min-width: rem(600);
    position: relative;
    border: 1px solid $corBorda;
    padding: rem(30);
    @include notebook{
        min-width: rem(530);
    }
    
    .icon-left-open {
        position: absolute;
        top: -60px;
        left: -39px;
        color: #9c9191;
        cursor: pointer;
        font-size: rem(18);
    }
    .menu {
        position: absolute;
        top: -37px;
        left: -1px;
        width: 90%;
        align-items: center;
        .nav {
            display: flex;
            align-items: center;
            li {
                min-width: rem(150);
                &.ativo {
                    button {
                        background: $cor1;
                    }
                }
                &:hover button{
                    background: $cor1;
                }
                button {
                    width: 100%;
                    display: block;
                    background: #ccc5d0;
                    padding: 10px;
                    text-align: center;
                    border-right: 1px solid #fff;
                    @include font($fontRegular,15,#fff);
                    font-weight: bold;
                    border-radius: 13px 13px 0px 0px;
                    @extend %transition;
                    outline: none;
                }
            }
        }
    }

    h3 {
        text-align: center;
        margin: rem(0) 0 rem(10); 
        color: #9c9191;
        text-transform: uppercase;
        font-size: rem(25);
        font-family: $fontRegular;
        line-height: 1.2;
        span {
            display: block;
            text-align: center;
            font-size: rem(14);
            margin-top: 10px;
        }
    }
    .acesso {
        margin: rem(30) 0;
        .contas {
            display: flex;
            align-items: center;
            justify-content: center;
            div { 
                width: rem(160);
                padding: rem(12);
                margin: 0 1px;
                i {
                    font-size: rem(20);
                }
            }
            .conta-face {
                background: #3b5999;
                @include font($fontRegular,16,#fff);
                font-weight: bold;
                cursor: pointer;
            }
            .conta-google {
                background: #ee3e34;
                @include font($fontRegular,16,#fff);
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    p {
        text-align: center;
        padding: rem(10);
        font-size: 18px;
        &.erro {
            text-align: left;
            font-size: rem(14);
            margin: 0;
            padding: 0;
            color:red;
            &.confirmarSenha {
                display: none;
            }
            &.ativo {
                display:block;
            }
        }
    }

    .politica-de-privacidade {
        margin-top: 10px;
        input {
            position: relative;
            top: 2px;
        }
        label {
            @include font($fontRegular, 14, $cor3);
            margin: 0;
            a {
                color: $cor1;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .completarCadastroRedeSocial {
        position: relative;
        .icon-left-open { 
            top:-55px;
        }
    }
    
}

.contentModalMsgsucesso {
    max-width: 600px;
    h3 {
        text-transform: uppercase;
        text-align: center;
    }
}
