@import '../../../theme/placeholders.scss';
@import "../../../theme/mixins.scss";
@import "../../../theme/variaveis.scss";

.banner {
    cursor: pointer;
}
.imgMaior {
    width: 100%;
    height: rem(348);
    background-image: url(../../../assets/imgs/promo2-1.jpg);
    @extend %bgCover;
    cursor: pointer;
} 

.imgMenor {
    width: 100%;
    height: rem(348);
    background-image: url(../../../assets/imgs/promo2-2.jpg);
    @extend %bgCover;
    cursor: pointer;
}  