<div class="banner">
    <div class="row no-gutters">
        <div class="col col-md-4">
            <div class="imgMenor"></div>
        </div>
        <div class="col col-md-8">
            <div class="imgMaior"></div>
        </div>
    </div>
</div>