<footer>
    <section class="mapfooter">
        <div class="container">
            <div class="row no-gutters">

                <div class="links">
                    <div class="box">
                        <ul>
                            <li class="titulo">
                                <h5>TUDX <i class="icon-angle-down"></i> </h5>
                            </li>
                            <li>
                                <a href="" title="">Termo de uso</a>
                            </li>
                            <li>
                                <a href="" title="">Politica de Privacidade</a>
                            </li>
                            <li>
                                <a href="" title="">Politica de troca e devolução</a>
                            </li>
                            <li>
                                <a href="" title="">Conheça o tudx</a>
                            </li>
                            <li>
                                <a href="" title="">Buscapé no Celular</a>
                            </li>
                            <li>
                                <a href="" title="">FAQ</a>
                            </li>
                            <li>
                                <a href="" title="">Trabalhe conosco</a>
                            </li>
                            <li>
                                <a href="" title="">Para Desenvolvedores</a>
                            </li>
                            <li>
                                <a href="" title="">Mapa do site</a>
                            </li>
                            <li><a href="" title="">Mapa do Site de Conteúdo</a></li>
                            <li><a href="" title="">Mapa do Site de Promoções</a></li>
                            <li><a href="" title="">Termo de uso</a></li>
                        </ul>
                    </div>
                    <div class="box">
                        <ul>
                            <li>
                                <h5>Consumidor <i class="icon-angle-down"></i> </h5>
                            </li>
                            <li>
                                <a href="" title="">Pesquise e avalie uma loja</a>
                            </li>
                            <li>
                                <a href="" title="">Lojas não recomendadas</a>
                            </li>
                            <li>
                                <a href="" title="">Compre com segurança</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h5>Anunciantes <i class="icon-angle-down"></i> </h5>
                            </li>
                            <li><a href="" title="">Anuncie</a></li>
                            <li><a href="" title="">Anuncios patrocinados</a></li>
                        </ul>
                    </div>
                    <div class="box">
                        <ul>
                            <li>
                                <h5>Empresas <i class="icon-angle-down"></i> </h5>
                            </li>
                            <li><a href="" title="">Anuncie</a></li>
                            <li><a href="" title="">Atendimento ao Lojista</a></li>
                            <li><a href="" title="">Programa de Afiliados</a></li>
                        </ul>
                    </div>
                </div>
                

                <div class="redes-sociais">
                    <h5>Redes Sociais</h5>
                    <ul>
                        <li>
                            <i class="icon-facebook"></i>
                            <span>
                                14.500 fãs
                                <a href="#" title="Facebook" target="_blank">Curtir</a>
                            </span>
                            
                        </li>
                        <li>
                            <i class="icon-instagram"></i> 
                            <span>
                                20.230 seguidores
                                <a href="#" title="Instagram" target="_blank">Seguir</a>
                            </span>
                        </li>
                        <li>
                            <i class="icon-youtube-play"></i>
                            <span>
                                5.000 inscritos
                                <a href="#" title="You tube" target="_blank">Inscrever</a>
                            </span>
                        </li>
                        <li>
                            <i class="icon-twitter"></i>
                            <span>
                                22.000 Seguidores
                                <a href="#" title="Twitter" target="_blank">Seguir</a>
                            </span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <section class="copyright">
        <div class="container">
            <div class="row no-gutters">
                <div class="logo">
                    <img src="./assets/imgs/logo.png" alt="" />  
                </div>
                <div class="desc">
                    <p> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu f
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>
