@import "../../../theme/placeholders.scss";
@import "../../../theme/mixins.scss";
@import "../../../theme/variaveis.scss";

footer {
    background: #262641;
    .mapfooter {
        padding: rem(55) 0 rem(10);
        h5 {
            @include font($fontRegular,14,#fff);
            line-height: 1.6;
        }
        ul {
            margin-bottom: rem(40);
            li {
                i{
                    color: #fff;
                }
                a {
                    @include font($fontRegular,12,#fff);
                    opacity: 0.7;
                    text-decoration: none;
                    @extend %transition;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        .row {
            justify-content: space-between;
        }
        .links {
            display: flex;
            .box {
                margin-right: rem(60);
                &:last-child{
                    margin: 0;
                }
            }
        }
        
        .redes-sociais {
            padding: 0 rem(40);
            position: relative;
            
            i {
                font-size: rem(25);
                margin-right: rem(15);
                position: relative;
                top:1px;
            } 
            h5 {
                font-size: rem(16);
                margin-bottom: rem(20);
            }
            ul li {
                margin-bottom: rem(20);
                display: flex;
                span {
                    @include font($fontRegular,14,#fff);
                    display: block;
                    a {
                        @include font($fontRegular,14,#1fbec8);
                        display: block;
                    }
                }
            }
        }
    }
    .copyright {
        border-top:1px solid #353554;
        padding:rem(25) 0;
        box-shadow: 0 0 14px rgba(25, 25, 43, 0.71);
        .row {
            align-items: center;
            justify-content: space-between;
        }
        .logo {
            width:rem(144);
        }
        .desc {
            p {
                margin:0;
                @include font($fontRegular,12,#fff);
                opacity:0.5;
            }
        }
    }
}