@import "../../../theme/mixins.scss";
@import "../../../theme/variaveis.scss";

.anuncios { 
    .title {
        background: #f5f5f5;
        padding: rem(50) rem(25) rem(3) rem(25);
        border:1px solid $corBorda;
        border-bottom: 0;
        .ver-todos{
            @include font($fontRegular,14,$cor1);
            margin-left: rem(20);
            position: relative;
            top: -1px;
            text-decoration:none;
            i{
                font-size: rem(11);
                position: relative;
                top:-1px;
            }
        }
    }
    .row .col-6:first-child {
        border-left:1px solid $corBorda;
    }
    .col-6 {
        border-top:1px solid $corBorda;
        border-right:1px solid $corBorda;
        border-bottom: 0;
    }
}