<section class="anuncios">
    <div class="title">
        <h2>
            Interessates para você 
            <a class="ver-todos" href="#" title="ver todos">
                <i class="icon-right-open"></i> Ver todos
            </a>
        </h2>
    </div>
    <div class="row  no-gutters">
        <div class="col-6 col-sm-6 col-md-3 ">
            <div class="box-produto" routerLink="/resultado-da-busca">
                <i class="icon-favorito"></i>
                <div class="box-img">
                    <picture>
                        <source srcset="https://images-submarino.b2w.io/produtos/01/00/oferta/53310/3/53310360_1GG.jpg" media="(min-width: 1024px)">
                        <source srcset="https://images-submarino.b2w.io/produtos/01/00/oferta/53310/3/53310360G1.jpg" media="(min-width: 768px)">
                        <source srcset="https://images-submarino.b2w.io/produtos/01/00/oferta/53310/3/53310360P1.jpg" media="(min-width: 480px)">
                        <img 
                            alt="" 
                            src="https://images-submarino.b2w.io/produtos/01/00/oferta/53310/3/53310360P1.jpg" 
                            class="card-product-picture placeholder-content img-responsive" 
                        />
                </picture>
                </div>       
                <div class="box-title">
                    <h3>Multimídia Receiver Sph-da 138 Tv Pionner 15 polegadas Tv Pionner 15 polegadas </h3>
                </div>
                <div class="box-valor">
                    <p class="valor">
                        <span>R$</span>1.200<span>,00</span>
                    </p>
                    <p class="parcelas">
                        em até 12x <span>R$ 98,58</span> sem juros
                    </p>
                </div>
                <div class="box-loja">
                    <p>Por: Magazine luiza</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3 ">
            <div class="box-produto">
                <div class="box-img">
                    <picture data-hj-ignore-attributes=""><source srcset="https://images-submarino.b2w.io/produtos/01/00/offers/01/00/item/133274/7/133274769_1GG.png" media="(min-width: 1024px)" data-hj-ignore-attributes=""><source srcset="https://images-submarino.b2w.io/produtos/01/00/offers/01/00/item/133274/7/133274769G1.png" media="(min-width: 768px)" data-hj-ignore-attributes=""><source srcset="https://images-submarino.b2w.io/produtos/01/00/offers/01/00/item/133274/7/133274769P1.png" media="(min-width: 480px)" data-hj-ignore-attributes=""><img alt="Smartphone Samsung Galaxy S9+ Dual Chip Android 8.0 Tela 6.2&quot; Octa-Core 2.8GHz 128GB 4G Câmera 12MP Dual Cam - Preto" src="https://images-submarino.b2w.io/produtos/01/00/offers/01/00/item/133274/7/133274769P1.png" class="card-product-picture placeholder-content img-responsive" data-hj-ignore-attributes=""></picture>
                    <i class="icon-favorito"></i>
                </div>
                <div class="box-title">
                    <h3>Multimídia Receiver Sph-da 138 Tv Pionner 15 polegadas </h3>
                </div>
                <div class="box-valor">
                    <p class="valor">
                        <span>R$</span>1.200<span>,00</span>
                    </p>
                    <p class="parcelas">
                        em até 12x <span>R$ 98,58</span> sem juros
                    </p>
                </div>
                <div class="box-loja">
                    <p>Por: Magazine luiza</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3 ">
            <div class="box-produto">
                <div class="box-img">
                        <picture data-hj-ignore-attributes=""><source srcset="https://images-submarino.b2w.io/produtos/01/00/offers/01/00/item/133274/7/133274769_1GG.png" media="(min-width: 1024px)" data-hj-ignore-attributes=""><source srcset="https://images-submarino.b2w.io/produtos/01/00/offers/01/00/item/133274/7/133274769G1.png" media="(min-width: 768px)" data-hj-ignore-attributes=""><source srcset="https://images-submarino.b2w.io/produtos/01/00/offers/01/00/item/133274/7/133274769P1.png" media="(min-width: 480px)" data-hj-ignore-attributes=""><img alt="Smartphone Samsung Galaxy S9+ Dual Chip Android 8.0 Tela 6.2&quot; Octa-Core 2.8GHz 128GB 4G Câmera 12MP Dual Cam - Preto" src="https://images-submarino.b2w.io/produtos/01/00/offers/01/00/item/133274/7/133274769P1.png" class="card-product-picture placeholder-content img-responsive" data-hj-ignore-attributes=""></picture>
                    <i class="icon-favorito"></i>
                </div>
                <div class="box-title">
                        <h3>Multimídia Receiver Sph-da 138 Tv Pionner 15 polegadas </h3>
                </div>
                <div class="box-valor">
                    <p class="valor">
                        <span>R$</span>1.200<span>,00</span>
                    </p>
                    <p class="parcelas">
                        em até 12x <span>R$ 98,58</span> sem juros
                    </p>
                </div>
                <div class="box-loja">
                    <p>Por: Magazine luiza</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3 ">
            <div class="box-produto">
                <div class="box-img">
                        <picture data-hj-ignore-attributes=""><source srcset="https://images-submarino.b2w.io/produtos/01/00/offers/01/00/item/133274/7/133274769_1GG.png" media="(min-width: 1024px)" data-hj-ignore-attributes=""><source srcset="https://images-submarino.b2w.io/produtos/01/00/offers/01/00/item/133274/7/133274769G1.png" media="(min-width: 768px)" data-hj-ignore-attributes=""><source srcset="https://images-submarino.b2w.io/produtos/01/00/offers/01/00/item/133274/7/133274769P1.png" media="(min-width: 480px)" data-hj-ignore-attributes=""><img alt="Smartphone Samsung Galaxy S9+ Dual Chip Android 8.0 Tela 6.2&quot; Octa-Core 2.8GHz 128GB 4G Câmera 12MP Dual Cam - Preto" src="https://images-submarino.b2w.io/produtos/01/00/offers/01/00/item/133274/7/133274769P1.png" class="card-product-picture placeholder-content img-responsive" data-hj-ignore-attributes=""></picture>
                    <i class="icon-favorito"></i>
                </div>
                <div class="box-title">
                        <h3>Multimídia Receiver Sph-da 138 Tv Pionner 15 polegadas </h3>
                </div>
                <div class="box-valor">
                    <p class="valor">
                        <span>R$</span>1.200<span>,00</span>
                    </p>
                    <p class="parcelas">
                        em até 12x <span>R$ 98,58</span> sem juros
                    </p>
                </div>
                <div class="box-loja">
                    <p>Por: Magazine luiza</p>
                </div>
            </div>
        </div>
    </div>
</section>