@import "../../../theme/mixins.scss";
@import "../../../theme/variaveis.scss";

.sidebar {
    padding: rem(20);
    .title-filtro {
        padding-bottom: rem(20);
        span{
            @include font($fontRegular,16,$cor3);
            .icon-filtro{
                font-size: rem(25);
                position: relative;
                top:2px;
            }
        }
    }
    .filtro {
        .campo-default {

        }
        .select-filtro {
            @include font($fontRegular,14,$cor3);
            font-weight: bold;
            line-height: 5;
            position: relative;
            cursor: pointer;
            &:before {
                content:"\F107";
                @include font($fontello,20,$cor3);
                position: absolute;
                right: 0px; 
                top:37%;
                line-height: 1;
            }
        }
        .campos{}
        .select-check {}
        .select-cor {}
        .select-preco {}
        .select{}
    }
}
