<section class="sidebar">
    <div class="title-filtro">
        <span><i class="icon-filtro"></i> Filtrar:</span>
    </div>
    <div class="filtro">
        <div class="resumo-filtros">
            
        </div>
        <div class="campo-default select-check">
            <div class="select-filtro">
                <span>Vendedor</span> 
            </div>
            <div class="campos">
                <mat-checkbox> Novo </mat-checkbox>
                <mat-checkbox> Pessoa Física </mat-checkbox>
            </div>
        </div>
        <div class="campo-default select-check">
            <div class="select-filtro">
                <span>Tipo do produto</span> 
            </div>
            <div class="campos">
                <mat-checkbox> Novo </mat-checkbox>
                <mat-checkbox> Usado </mat-checkbox>
            </div>
        </div>
        <div class="campo-default select-preco">
            <div class="select-filtro">
                <span>Preço</span> 
            </div>
            <form [formGroup]="sliderForm"> 
                <ng5-slider [options]="options" formControlName="sliderControl"></ng5-slider>
                <p class="valor">
                    R$ {{ sliderForm.value.sliderControl[0] }} até R$ {{ sliderForm.value.sliderControl[1] }}
                </p>
            </form>
        </div>
        <div class="campo-default cores">
            <div class="select-filtro">
                <span>Cores</span>
            </div>
            <div class="campos">
                <mat-checkbox class="check-circle"></mat-checkbox>
                <mat-checkbox class="check-circle"></mat-checkbox>
                <mat-checkbox class="check-circle"></mat-checkbox>
                <mat-checkbox class="check-circle"></mat-checkbox>
                <mat-checkbox class="check-circle"></mat-checkbox>
                <mat-checkbox class="check-circle"></mat-checkbox>
            </div>
        </div>
        <div class="campo-default select">
            <div class="select-filtro">
                <span>Chip</span> 
            </div>
        </div>
        <div class="campo-default select">
            <div class="select-filtro">
                <span>Sistema Operacional</span> 
            </div>
        </div>

    </div>
</section>
 