<section class="produtos">

    <div class="header-produto"> 
        <div class="produtos-encontrados">
            <span>{{qtdeProdutos}}</span>
        </div>
        <div class="nav">
            <ul>
                <li><i class="icon-th"></i></li>
                <li><i class="icon-th-list"></i></li> 
                <li>
                    Ordenar por <i class="icon-angle-down"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="lista-produtos">
        <div class="row no-gutters">
            <div class="col-6 col-sm-6 col-md-4" *ngFor="let listaProduto of produto">
                <div class="box-produto" [routerLink]="['/produto', listaProduto.identificador, url]"> 
                    <i id="favorito" class="icon-favorito"></i>
                    <div class="box-img">
                        <img alt="" src="{{listaProduto.url}}" /> <!--Tamanho img 240x240-->
                    </div>       
                    <div class="box-title">
                        <h3>{{listaProduto.nome}}</h3>
                    </div>
                    <div class="box-valor">
                        <p class="valor">
                            <span>R$</span>{{listaProduto.menorPreco.toString().split(".")[0]}},<span>{{listaProduto.menorPreco.toString().split(".")[1]}}</span>
                        </p>
                        <p class="parcelas" *ngIf="listaProduto.formaPagamento != 'false'">
                            {{listaProduto.formaPagamento}}
                        </p>
                    </div>
                    <div class="btn"> 
                        <a title="Ver detalhes" [routerLink]="['/produto', listaProduto.identificador, url]">Ver detalhes</a>
                    </div>
                </div>
            </div>
        </div>
        <nsu-paginator [paginatorData]="pag" (paginatorEvents)="eventsGetPaginator($event)"></nsu-paginator>
    </div>

</section>