@import "../../../theme/mixins.scss";
@import "../../../theme/variaveis.scss";

.produtos {
    .lista-produtos {
        background: #fff;
        .box-produto {
            border-right: 1px solid $corBorda;
            padding-bottom: 0;
            margin-bottom: rem(30);
        }
        .pagination {
            ul {
                text-align: right;
                width: 100%;
                padding: 20px 25px 40px;
            }
            li {
                display: inline-block;
                padding: 0 10px;
                cursor: pointer;
            }
            .anterior {
                font-size: rem(13);
            }
            .proximo {
                font-size: rem(13);
            }
        }
    }
}