<ul>
    <li>
        <a [class.disable]="paginator.currentPage == 1" (click)="prevPage($event)"><i class="icon-left-open"></i> Anterior</a>
    </li>

    <li *ngFor="let item of pages">
       <a [class.ativo]="paginator.currentPage == item" (click)="indexPage(item)">{{item}}</a>
    </li>

    <li>
        <a [class.disable]="paginator.currentPage == paginator.totalItems" (click)="nextPage($event)">Próxima <i class="icon-right-open"></i></a>
    </li>
</ul> 