@import "../../../../../src/theme/fonts.scss";

ul {
    padding:0 25px 25px;
    text-align: right;
}
li {
    display:inline-block;
    text-align:center;
    cursor: pointer;
}
a {
    text-decoration:none;
    display:block;
    padding: 2px 10px;
    color:#626386;
}
li a.ativo {
    background: #eae9e9;
    border-radius: 5px;
    color: #000;
}
li a.disable {
    opacity: 0.7;
    color: #b3a4a4;
}
.page-size-options {
    font-size:14px;
    margin-right:20px;
}
select {
    font-size:13px;
    color:#626386;
    border:none;
    border-bottom:1px solid #626386;
    outline:none;
}