@import "../../../theme/variaveis.scss";
@import "../../../theme/mixins.scss";
@import "../../../theme/placeholders.scss";

.pg-resultado-da-busca {
    padding-bottom: rem(70);
    .col-md-3 {
        background: #f7f5f5;
        border-right: 1px solid $corBorda;
    }
    .resultSemFiltro {
        background: #fff;
    }
    h2 {
        padding: rem(40) rem(25);
    }
}

.banner {
    cursor: pointer;
}
.imgMaior {
    width: 100%;
    height: rem(348);
    background-image: url(../../../assets/imgs/promo2-1.jpg);
    @extend %bgCover;
    cursor: pointer;
} 

.imgMenor {
    width: 100%;
    height: rem(348);
    background-image: url(../../../assets/imgs/promo2-2.jpg);
    @extend %bgCover;
    cursor: pointer;
}  

.anuncios { 
    .title {
        background: #f5f5f5;
        padding: rem(50) rem(25) rem(3) rem(25);
        border:1px solid $corBorda;
        border-bottom: 0;
        .ver-todos{
            @include font($fontRegular,14,$cor1);
            margin-left: rem(20);
            position: relative;
            top: -1px;
            text-decoration:none;
            i{
                font-size: rem(12);
            }
        }
    }
    .row .col-6:first-child {
        border-left:1px solid $corBorda;
    }
    .col-6 {
        border-top:1px solid $corBorda;
        border-right:1px solid $corBorda;
        border-bottom: 0;
    }
}