<div id="menu-categoria" class="menu-categoria" [class.scroll]="Toggle">

    <div class="content">
        <nav class="menu-categoria-departamento">
            <ul> 
                <li *ngFor="let menu of headerMenu" (mouseenter)="categoria(menu.categoriasFilhas)"> 
                    <a href="#" title="{{ menu.nome }}">{{ menu.nome }}</a>
                </li>
                <li class="bold">
                    <a href="#" title="Ver todas categorias">Ver todas categorias</a>
                </li>
            </ul> 
        </nav>
        <div class="menu-categoria-detalhe">
            <nav>
                <ul *ngFor="let listaCategoria of ListaCategoria">
                    <li class="titulo" >
                        <a href="#" title="{{listaCategoria.nome}}">{{ listaCategoria.nome }}</a> 
                    </li>
                    <li *ngFor="let listaCategoriaFilha of listaCategoria.categoriasFilhas">
                        <a routerLink="resultado-da-busca" [queryParams]="{q:listaCategoriaFilha.nome}">{{listaCategoriaFilha.nome}}</a>
                    </li>
                </ul>
            </nav>
            <div class="mais-categorias">
                <a href="#">
                    > Ver Todos produtos da categoria telefones
                </a>
            </div>
            <!-- <div class="banner-menu">
                <img src="https://images-americanas.b2w.io/spacey/2019/04/16/banner_menu_cronograma.png" alt="">
            </div> -->
        </div> 
        
    </div>

</div>