@import "../../../theme/mixins.scss";
@import "../../../theme/variaveis.scss";
@import "../../../theme/placeholders.scss";

.menu-categoria {
    position: absolute;
    left: 0;
    top: rem(78);
    z-index: 999999;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    .content {
        width: rem(1105);
        box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.18);
        display: flex;
        @include notebook{
            width: rem(1120);
        }
    }

    &-departamento {
        min-width: rem(287.34);
        background: #fff; 
        position: relative;
        padding: rem(35) 0;
        li {
            @include font($fontRegular,14,$cor1);
            padding: rem(5) rem(40) rem(5) rem(30);
            @extend %transition;
            cursor: pointer;

            // &.drop::after {
            //     font-family: $fontello;
            //     content: '\f006';
            //     font-size: rem(12);
            //     margin-left: rem(15);
            // }
            &:hover {
                a{
                    text-decoration: underline;
                }
            }
            &.ativo a{
                text-decoration: underline;
            }
            &.bold { 
                margin-top: rem(30);
                text-transform: none;
                font-weight: bold;
            }
        }
    }
    &-detalhe {
        nav {
            width: rem(900);
            height: 527px;
            display: flex;
            overflow: auto;
            overflow-y: hidden;
            columns: 4;
            column-width: rem(195);
            padding: rem(40) rem(35);
            background: #f7f5f5;
            &::-webkit-scrollbar-track {
                background-color: #F4F4F4;
            }
            &::-webkit-scrollbar {
                height:10px;
                background: #F4F4F4;
            }
            &::-webkit-scrollbar-thumb {
                background: #dad7d7;
            }
            @include notebook{
                padding: rem(40) rem(30);
            }
            ul {
                margin:0 rem(10) rem(20);
                display: inline-block; 
                li {
                    min-width: rem(197);
                    @include font($fontRegular,14,$cor1);
                    padding-bottom: rem(7);
                    &.titulo {
                        @include font($fontRegular,14,$cor1);
                        font-weight: bold;
                        &::after {
                            font-family: $fontello;
                            content: '\f107';
                            margin-left: rem(10);
                        }
                    }
                }
            }
        }
        .mais-categorias {
            background: #f7f5f5;
            
            a {
                display: block;
                text-align: center;
                color: $cor1;
                border-top:1px solid $corBorda;
                margin: 0 50px;
                padding: 20px;
                font-weight: bold;
            }
        }
    }
    // .banner-menu {
    //     cursor: pointer;
    // }

    &.scroll {
        width: 100%;
        top: rem(63);
        .content {
            width: 1188px;
            margin: 0 auto;
            box-shadow: none;
            @media (max-width: 1188px) {
                width: 100%;
            }
        }
        
    }
}