@import "../../../../theme/mixins.scss";
@import "../../../../theme/variaveis.scss";
@import "../../../../theme/placeholders.scss";
@import '~swiper/dist/css/swiper.min.css';

.pg-detalhe-do-produto {
    margin-bottom: rem(60);
    
    .produto {
        background: #fff;
        padding: rem(20);
        position: relative;
        .img {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 260px;
            }
        }
        .slider {
            margin: 0 rem(50) 0 rem(30);
        }
        .icon-favorito {
            position: absolute;
            top: 0px;
            font-size: rem(30);
            right: 6px;
            color:#bcbecc;
            &.ativo {
                color:$cor1;
            }
        }
        .box-loja {
            width: max-content;
            margin: rem(20) rem(0) rem(0);
            padding: 3px rem(15);
            border-radius: 5px;
            border:1px solid $cor1;
            text-align: center;
            p{
                @include font($fontMedium,12,$cor1);
                text-transform: capitalize;
                margin: 0;
            }
        }
        .titulo {
            max-width: 88%;
            @include font($fontRegular,24,$cor3);
            line-height: 1.4;
            margin: rem(15) 0;
        }
        .preco {
            p {
                margin-bottom: 5px;
                font-weight: bold;
            }
            .valor {
                @include font($fontRegular,30,$cor3);
                line-height: 1;
                margin-bottom: rem(25);
                span {
                    font-size: rem(18);
                }
            }
            .menor-preco {
                p {
                    @include font($fontRegular,12,$cor1);
                }
                .valor{
                    @include font($fontMedium,30,$cor1);
                    margin-bottom: rem(25);
                }
            }
            .maior-preco {
                opacity: 0.7;
                .valor {
                    @include font($fontRegular,30,$cor3);
                    text-decoration: line-through;
                    margin-bottom: rem(25);
                }
            }
        }
        .acesso {
            .btn-azul {
                width: 80%;
                @include font($fontMedium,14.5,#fff);
                background: $cor1;
                padding: rem(13);
                border-radius: 5px;
                letter-spacing: 1px;
               @include notebook {
                   font-size: rem(14);
               }
            }
            .criar-lance, .avaliar {
                padding: rem(13) 0;
                @include font($fontRegular,14,$cor1);
                position: relative;
                top:-3px;
                i{
                    font-size: rem(18);
                    margin-right: 2px;
                    position: relative;
                    top:1px;
                }
            }
        }
    }
    .produto-a-venda {
        .header {
            padding: rem(15) rem(25);
            border-top:1px solid #dfe0ec;
            border-bottom:1px solid #dfe0ec;
            background: #f5f5f5;
            display: flex;
            justify-content: space-between;
            h3 {
                @include font($fontRegular,20,$cor3);
                margin: 0;
            }
            .ordenar {
                li {
                    @include font($fontRegular,14,$cor3);
                    ul{
                        display: none;
                    }
                }
            }
        }
        .loja {
            .box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom:1px solid #dfe0ec;
                padding: rem(28) rem(25);
                .content {
                    display: flex;
                    align-items: center;
                    .img-loja {
                        width: rem(160);
                    }
                    .preco {
                        width: rem(220);
                        padding-left: 20px;
                        p {
                            margin-bottom: 5px;
                            font-weight: bold;
                        }
                        .valor {
                            @include font($fontRegular,30,$cor3);
                            line-height: 1;
                            span {
                                font-size: rem(18);
                            }
                        }
                    }
                    .parcela {
                        margin-right: rem(60);
                        p {
                            margin:0;
                            strong {
                                display: block;
                                font-weight: bold;
                                span {
                                    color:$cor1;
                                }
                            }
                        }
                    }
                    .frete {
                        display: flex;
                        align-items: center;
                        .icon-entrega {
                            display: block;
                            font-size: 30px;
                            position: relative;
                            top: -1px;
                            margin-right: 5px;
                        }
                        p{
                            margin: 0;
                            strong {
                                font-weight: bold;
                                display: block;
                            }
                        }
                    }
                }
                .btn {
                    width: rem(160);
                    @include font($fontMedium,14.5,$cor1);
                    border: 1px solid $cor1;
                    padding: rem(13);
                    border-radius: 5px;
                    letter-spacing: 1px;
                    @extend %transition;
                    @include notebook {
                        font-size: rem(14);
                    }
                    &:hover {
                        background: $cor1;
                        color:#fff;
                    }
                }
            }
        }
    }
    .caracteristicas-produto {
       
        .info {
            padding: rem(25);
            border-top:1px solid $corBorda;
            h3 {
                font-family: $fontRegular;
                font-size: rem(16);
                line-height: 2;
                i{
                    font-size: rem(11);
                    position: relative;
                    top:-1px;
                }
            }
            ul {
                li {
                    width: 25%;
                    display: flex;
                    justify-content: space-between;
                    span{
                        margin-right: rem(10);
                        font-weight: 100;
                    }
                }
            }
        }
    }
}
.txt {
    border:1px solid $corBorda;
    padding: rem(40) rem(25);
    p{
        line-height: 2;
    }
}