<div class="pg-detalhe-do-produto">
    <main class="container">

        <div class="header-produto"> 
            <div class="breadcrumbs">
                <a href=""> Home <i class="icon-right-open"></i></a>
                <a href=""> {{categoria}} <i class="icon-right-open"></i></a>
                <a href=""> Produtos</a>
            </div>
            <div class="nav">
                <ul>
                    <li><i class="icon-historico"></i> Ver histórico de preços </li>
                    <li><i class="icon-detalhe"></i> Detalhes do produto</li>
                </ul>
            </div>
        </div>
        
        <section class="produto" *ngFor="let produto of detalheProduto">
            <div class="row no-gutters">
                <div class="col col-md-5">
                    <div class="img">
                        <img src="{{produto.imagens[0].urlImagem}}" alt=""> 
                    </div>
                    <div class="slider">

                        <!-- <div class="swiper-container gallery-top" [swiper]="slide">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide img">
                                    <img src="{{produto.imagens[0].urlImagem}}" alt=""> 
                                </div>
                                <div class="swiper-slide img">
                                    <img src="{{produto.imagens[0].urlImagem}}" alt=""> 
                                </div>
                            </div>
                            
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>

                        <div class="swiper-container  gallery-thumbs" [swiper]="slideThumb">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide img">
                                    <img src="{{produto.imagens[0].urlImagem}}" alt=""> 
                                </div>
                                <div class="swiper-slide img">
                                    <img src="{{produto.imagens[0].urlImagem}}" alt=""> 
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
                <div class="col col-md-7">
                    <div class="content">
                        <i class="icon-favorito"></i>
                        <!-- <div class="box-loja"> <p>Por: Americanas</p> </div> -->
                        <h1 class="titulo">
                            {{produto.nome}}
                        </h1>
                        <div class="row no-gutters preco">
                            <div class="col col-md-4">
                                <div class="menor-preco">
                                    <p>Menor Preço:</p>
                                    <p class="valor">
                                        <span>R$ </span>{{produto.menorPreco.toString().split(".")[0]}}<span>,{{produto.menorPreco.toString().split(".")[1]}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col col-md-4">
                                <div class="economia">
                                    <p>Econômia:</p>
                                    <p class="valor">
                                        <span>R$ </span>{{produto.maiorPreco - produto.menorPreco}}<span>,00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col col-md-4">
                                <div class="maior-preco">
                                    <p>Maior Preço:</p>
                                    <p class="valor">
                                        <span>R$ </span>{{produto.maiorPreco.toString().split(".")[0]}}<span>,{{produto.maiorPreco.toString().split(".")[1]}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters acesso">
                            <div class="col col-md-4">
                                <!-- <button class="btn-azul" routerLink="">
                                    Acessar loja
                                </button> -->
                            </div>
                            <div class="col col-md-4">
                                <div class="criar-lance">
                                    <span><i class="icon-lance"></i>Criar lance de compra</span>
                                </div>
                            </div>
                            <div class="col col-md-4">
                                <div class="avaliar">
                                    <span><i class="icon-avaliar"></i> Ver avaliações</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="produto-a-venda">

            <div class="header">
                <h3>
                    Compare preços em {{qtdeAnuncios}}
                </h3>
                <ul class="ordenar">
                    <li>
                        Ordenar por <i class="icon-angle-down"></i>
                        <ul>
                            <li>
                                asdf
                            </li>
                            <li>
                                adsf
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <section class="loja">

                <div class="box" *ngFor="let anuncios of anunciosdoProduto">
                    <div class="content">
                        <div class="img-loja">
                            <img src="{{anuncios.urlLogoLoja}}" alt="">
                        </div>
                        <div class="preco">
                            <p>A vista por:</p>
                            <p class="valor">
                                <span>R$ </span>{{anuncios.valor.toString().split(".")[0]}}<span>,{{anuncios.valor.toString().split(".")[1]}}</span>
                            </p>
                        </div>
                        <div class="parcela">
                            <p>
                                <strong *ngIf="anuncios.formaPagamento != 'false'">{{anuncios.formaPagamento}}</strong>
                                total a prazo R$ 2.679,00
                            </p>
                        </div>
                        <!-- <div class="frete">
                            <i class="icon-entrega"></i> 
                            <p>
                                <strong>Frete 50,00</strong>
                                15 a 20 dias úteis
                            </p>
                        </div> -->
                    </div>
                    <a class="btn" href="{{anuncios.urlAnuncio}}" target="_blank" title="Acessar loja">
                        Acessar loja
                    </a>
                </div>

                <!-- <div class="box">
                    <div class="content">
                        <div class="img-loja">
                            <img src="../../../../assets/imgs/imgdemo2.jpg" alt="">
                        </div>
                        <div class="preco">
                            <p>A vista por:</p>
                            <p class="valor">
                                <span>R$ </span>2.699<span>,00</span>
                            </p>
                        </div>
                        <div class="parcela">
                            <p>
                                <strong>ou até 12x <span>R$ 98,58</span></strong>
                                total a prazo R$ 2.679,00
                            </p>
                        </div>
                        <div class="frete">
                            <i class="icon-entrega"></i> 
                            <p>
                                <strong>Frete 50,00</strong>
                                15 a 20 dias úteis
                            </p>
                        </div>
                    </div>
                    <a href="" class="btn">
                        Acessar loja
                    </a>
                </div> -->

            </section>

        </section>

        <app-anuncios></app-anuncios>

        <section class="caracteristicas-produto">
            <div class="box-header">
                <h2>
                    Detalhes do Produto - Smartphone Samsung Galaxy S9
                </h2>
            </div>
            <div class="info">
                <h3> <i class="icon-right-open"></i> Informações básicas</h3>
                <ul>
                    <li *ngFor="let caracteristicas of caracteristicasDoProduto">
                        {{caracteristicas.nome}} <span>{{caracteristicas.valor}}</span>
                    </li>
                </ul>
            </div>
        </section> 

        <section>
            <div class="box-header">
                <h2>
                    Descrição
                </h2>
            </div>
            <div class="txt">
                <p>
                    {{descricao}}
                </p>
            </div>
        </section>

        <app-promo></app-promo>
    </main>
</div>
