@import "../../../theme/mixins.scss";
@import "../../../theme/variaveis.scss";

.promo {
    position: relative;
    z-index: 999;
    background: #fff;
    .row .col-6:first-child{
        position: relative;
        &::before{
            content:"";
            width: 1px;
            height: rem(200);
            background: $corBorda;
            position: absolute;
            right: 0;
            top:rem(20);
        }
    }
    .box-produto{
        .box-img{
            height: rem(80);
            img {
                height: rem(65);
            }
        }
        .box-title h3 {
            font-size: rem(14);
            text-align: center;
        }
        .box-valor {
            min-height: auto;
            .valor {
                @include font($fontRegular,27,$cor3);
                line-height: 1;
                span {
                    font-size: rem(14);
                }
            }
        }
    }
}