<div class="promo">
    <div class="row">

        <div class="col col-6">
            
            <div class="box-produto">
            <div class="box-img">
                <img src="https://images-submarino.b2w.io/produtos/01/00/oferta/53310/3/53310360_1GG.jpg" alt="">
            </div>
            <div class="box-title">
                <h3>Smart TV LED LG 55" 55UK6530 Ultra HD 4k </h3>
            </div>
            <div class="box-valor">
                <p class="valor">
                    <span>R$ </span>2.699<span>,00</span>
                </p>
            </div>
            </div>

        </div>
        <div class="col col-6">
            <div class="box-produto">
            <div class="box-img">
                <img src="https://images-submarino.b2w.io/produtos/01/00/oferta/53310/3/53310360_1GG.jpg" alt="">
            </div>
            <div class="box-title">
                <h3>Smart TV LED LG 55" 55UK6530 Ultra HD 4k </h3>
            </div>
            <div class="box-valor">
                <p class="valor">
                    <span>R$ </span>2.699<span>,00</span>
                </p>
            </div>
            </div>
        </div>

    </div>
</div>