<div class="busca" [class.scroll]="busca == true">
  <nsu-autocomplete 
    [(scroll)]="busca"
    [(opcoes)]="opcoes" 
    [placeholder]="placeholder"
    (onValueChanged)="autoComplete($event)"
    (enter)="keypress($event)"
  >
    <app-promo-auto-complete></app-promo-auto-complete>
  </nsu-autocomplete>
</div>