@import "../../../theme/mixins.scss";
@import "../../../theme/variaveis.scss";

.busca {
    width: 45%;
    height: rem(242);
    margin: 0 auto;
    padding: rem(50) 0 rem(60); 
    &.scroll {
        width: rem(470);
        height: auto;
        padding: 0 0 0 rem(30);
        border: none;
        margin-right: rem(36);
    }
}
