<section class="pontoDeInteresse">
    <div class="row no-gutters">
        <div class="col col-md-3">
            <div class="box">
                <i class="icon-pagseguro destaque"></i>
                <div class="texto">
                    <span>Pagamento seguro</span>
                    <a href="#" title="">
                        <i class="icon-right-open"></i> Saiba mais
                    </a>
                </div>
            </div>
        </div>
        <div class="col col-md-3">
            <div class="box">
                <i class="icon-calendario destaque"></i>
                <div class="texto">
                    <span>12 parcelas sem juros</span>
                    <a href="#" title="">
                        <i class="icon-right-open"></i> Saiba mais
                    </a>
                </div>
            </div>
        </div>
        <div class="col col-md-3">
            <div class="box">
                <i class="icon-pagseguro destaque"></i>
                <div class="texto">
                    <span>A vista no boleto</span>
                    <a href="#" title="">
                        <i class="icon-right-open"></i> Saiba mais
                    </a>
                </div>
            </div>
        </div>
        <div class="col col-md-3">
            <div class="box">
                <i class="icon-pagamento destaque"></i>
                <div class="texto">
                    <span>+ Formas de pagamento</span>
                    <a href="#" title="">
                        <i class="icon-right-open"></i> Saiba mais
                    </a>
                </div>
            </div>
        </div>
    </div> 
</section>