@import '../../../theme/mixins.scss';
@import '../../../theme/variaveis.scss';

.pontoDeInteresse {
    .row .col:first-child .box {
        border-left:1px solid $corBorda;
    }
    .row .col:last-child .box {
        border-right:1px solid $corBorda;
        &::before{
            width: 0;
        }
    }
    .box {
        display: flex;
        align-items: center;
        padding: rem(15) rem(20);
        border-top:1px solid $corBorda;
        border-bottom: 0;
        position: relative;
        cursor:pointer;
        &:before {
            content:" ";
            width: 1px;
            height: 50px;
            position: absolute;
            right: 0;
            top: 14px;
            background: $corBorda;

        }
        
        .destaque {
            font-size: rem(35);
            margin-right: rem(10);
        }
        .texto {
            span {
                display: block;
                @include font($fontRegular,14,$cor3);
                margin-bottom: 3px;
                font-weight: bold;
            }
            a {
                display: block;
                @include font($fontRegular,15,$cor1);
                text-decoration:none;
                i {
                    font-size: 12px;
                    position: relative;
                    top: -0.5px;
                }
            }
        }
    }
}