.box-produto {
    width: 100%;
    display: block;
    padding: rem(30);
    cursor:pointer;
    position: relative;
    .icon-favorito {
        position: absolute;
        top: 0px;
        font-size: rem(30);
        right: 6px;
        color:#bcbecc;
        &.ativo {
            color:$cor1;
        }
    }
    .box-img {
        height: 254px; 
        padding-bottom: rem(15);
        display:         flex;
        display: -webkit-flex;
    
        justify-content: center;
        align-items: center;
    }
    .box-title {
        padding: rem(15) rem(0) rem(0);
        margin-bottom: rem(15);
        height: rem(58);
        overflow: hidden; 
        h3 {
            @include font($fontRegular,14,$cor3);
            line-height: 1.4;
            margin: 0;
        }
    }
    .box-valor {
        min-height: rem(56);
        p {
            margin: 0;
        }
        .valor {
            @include font($fontRegular,35,$cor3);
            line-height: 1;
            span {
                font-size: rem(18);
            }
        }
        .parcelas {
            @include font($fontRegular,14,$cor3);
            span{
                @include font($fontRegular,14,$cor1);
                font-weight: bold;
            }
        }
    }
    .box-loja {
        width: max-content;
        margin: rem(20) rem(0) rem(0);
        padding: 3px rem(15);
        border-radius: 5px;
        border:1px solid $cor1;
        text-align: center;
        p{
            @include font($fontMedium,12,$cor1);
            text-transform: capitalize;
            margin: 0;
        }
    }
    .btn {
        margin: rem(20) rem(0) rem(0);
    }
}