﻿@font-face {
  font-family: 'Gotham-Medium';
  src: url('./assets/font/Gotham-Medium.svg') format('svg'),
       url('./assets/font/Gotham-Medium.ttf') format('truetype'),
       url('./assets/font/Gotham-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('./assets/font/GothamMedium.eot');
  src: url('./assets/font/GothamMedium.eot?#iefix') format('embedded-opentype'),
       url('./assets/font/GothamMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('./assets/font/Gotham-Black.eot');
  src: url('./assets/font/Gotham-Black.eot?#iefix') format('embedded-opentype'),
       url('./assets/font/Gotham-Black.svg#Gotham-Black') format('svg'),
       url('./assets/font/Gotham-Black.ttf') format('truetype'),
       url('./assets/font/Gotham-Black.woff') format('woff'),
       url('./assets/font/Gotham-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('./assets/font/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('./assets/font/Gotham-Book.ttf') format('truetype'),
       url('./assets/font/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBook';
  src: url('./assets/font/GothamBook.eot');
  src: url('./assets/font/GothamBook.eot?#iefix') format('embedded-opentype'),
       url('./assets/font/GothamBook.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'fontello';
  src: url('./assets/font/fontello.eot?90556167');
  src: url('./assets/font/fontello.eot?90556167#iefix') format('embedded-opentype'),
       url('./assets/font/fontello.woff2?90556167') format('woff2'),
       url('./assets/font/fontello.woff?90556167') format('woff'),
       url('./assets/font/fontello.ttf?90556167') format('truetype'),
       url('./assets/font/fontello.svg?90556167#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('./assets/font/fontello.svg?90556167#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-navbar:before { content: '\e802'; } /* '' */
.icon-perfil:before { content: '\e803'; } /* '' */
.icon-favorito:before { content: '\e804'; } /* '' */
.icon-carrinhodecompra:before { content: '\e805'; } /* '' */
.icon-pagseguro:before { content: '\e806'; } /* '' */
.icon-calendario:before { content: '\e807'; } /* '' */
.icon-pagamento:before { content: '\e808'; } /* '' */
.icon-anuncie:before { content: '\e809'; } /* '' */
.icon-troca:before { content: '\e80a'; } /* '' */
.icon-menorpreco:before { content: '\e80b'; } /* '' */
.icon-filtro:before { content: '\e80c'; } /* '' */
.icon-deslike:before { content: '\e80d'; } /* '' */
.icon-detalhe:before { content: '\e80e'; } /* '' */
.icon-th:before { content: '\e80f'; } /* '' */
.icon-th-list:before { content: '\e810'; } /* '' */
.icon-star:before { content: '\e811'; } /* '' */
.icon-entrega:before { content: '\e812'; } /* '' */
.icon-avaliar:before { content: '\e813'; } /* '' */
.icon-historico:before { content: '\e814'; } /* '' */
.icon-lance:before { content: '\e815'; } /* '' */
.icon-like:before { content: '\e816'; } /* '' */
.icon-cancel:before { content: '\e817'; } /* '' */
.icon-google:before { content: '\e818'; } /* '' */
.icon-eye:before { content: '\e819'; } /* '' */
.icon-eye-off:before { content: '\e81a'; } /* '' */
.icon-attention:before { content: '\e81b'; } /* '' */
.icon-attention-circled:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-ok-circled:before { content: '\e81e'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */