.form-group {
    position: relative;
    margin: rem(15) 0;

    label {
        @include font($fontRegular,14,$cor1);
    }

    .form-control {
        width: 100%;
        @include font($fontRegular,16,$cor1);
        padding: rem(10);
        border: 1px solid $corBorda;
        resize: none;
    }

    .enviar {
        width: 100%;
        @include font($fontMedium,17,#fff);
        padding: rem(12);
        border: 1px solid $corBorda;
        cursor: pointer;
        background: $cor1;
    }

    input.erro {
        border:1px solid red;
        font-size: rem(14);
        text-align: left;
    }

    //icons
    .icon-right-open {
        position: absolute;
        right: 10px;
        top:rem(13);
        cursor: pointer;
    }

    .icon-eye-off, .icon-eye {
        position: absolute;
        top: 12px;
        right: 10px;
    }

    .icon-cancel {
        position: absolute;
        right: 10px;
        top:rem(13);
        cursor: pointer;
        color:red;
    }

}

.form-check {
    padding: rem(10);
    .form-check-input {
        width: auto;
        margin-right: 10px;
    }
}

.ng-invalid.ng-touched:not(form) {
    border:1px solid red;
}