* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    border: 0 none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    @include notebook {
        font-size: 15px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1188px;
    }
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
 
.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.rigth, .right {
    float: right !important;
}

:focus {
    outline: none;
}

footer ~ iframe {
    display: none;
}

span {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.none {
    display: none;
}

.db {
    display: block;
}


.ib {
    display: inline-block;
    vertical-align: middle;
}

.align-middle {
    vertical-align: middle;
}

.left {
    float: left;
}

.right {
    float: right;
}

.both,
.cboth {
    clear: both;
}

@media screen and (max-width: 1024px) {
    .tablet-cboth {
        clear: both;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.container-100 {
    position: relative;
    height: 100%;
}

.dt {
    display: table;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}

.vertical {
    display: table-cell;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.relative {
    position: relative;
}


.slick-slide {
    outline: none !important;
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.uppercase {
    text-transform: uppercase;
}

ul {
    margin-bottom: 0;
}


@keyframes poundLeft {
    to {
        right: -3px;
    }

    from {
        right: 0px;
    }
}
