.header-produto{
    background: #f9f9f9;
    padding: rem(20);
    display: flex;
    justify-content: space-between;
    border:1px solid $corBorda;
    .produtos-encontrados {
        @include font($fontRegular,20,$cor3);
    }
    .nav ul{
        display: flex;
        align-items: center;
        li {
            padding: 0 rem(5);
            color:$cor1;
            &:last-child {
                padding-left: rem(20);
            }
        }
    }
    .breadcrumbs {
        a {
            @include font($fontRegular,14,$cor3);
            font-weight: bold;
            &:last-child {
                font-weight: 100;
            }
            .icon-right-open {
                font-size: rem(12);
            }
        }
    }
}