@function rem($size) {
    @return $size / 16 + rem;
}

@mixin font($font, $size, $cor) {
	font-family: $font;
	font-size: ($size / 16 ) + rem ;
	font-weight: 100;
	color: $cor;
}

@mixin border-radius ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition ($time, $effect: ease) {
    -webkit-transition: all #{$time}s $effect;
    -moz-transition: all #{$time}s $effect;
    -o-transition: all #{$time}s $effect;
    transition: all #{$time}s $effect;
} 

//Px-to-rem 
@mixin px-to-em($size) {
    font-size: $size / 16 + rem;
}

//Px-to-EM filho
@mixin px-to-em-filho($size, $pai) {
    font-size: $size / $pai + rem;
}

@mixin input-placeholder($color) {
    &::-moz-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin btn($tamanho, $color, $bg ) {
    width: $tamanho;
    color: $color;
    background: $bg;
    text-align: center;
    padding: 18px 0;
    text-transform: uppercase;
    font-size: 1em;
    display: block;
    box-sizing: border-box;
    border: 1px solid $bg;
    @extend %transition;

    a {
        display:block;
    }

    &:hover {
        color: $bg;
        background: $color;
        border: 1px solid $bg;
    }
}

@mixin zoomIn($tamanho, $altura) {
    width: 100%;
    height: auto;
    max-width: $tamanho+ rem;
    max-height: $altura + rem;
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    img {
        min-width: $tamanho + rem;
        height: $altura + rem;
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, transform 1s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: relative;
        display: block;
    }

    &:hover {
        img {
            -webkit-transform: scale3d(1.1,1.1,1);
            transform: scale3d(1.1,1.1,1);
        }
    }
}

/* Media Querys */

$desktop-width: 1780px;
$notebook-width:1460px;
$tablet-horizontal: 1024px;
$tablet-vertical: 860px;
$mobile-width: 767px; 
$netbook-width-min: 1025px;
$netbook-width-max: 1199px;

@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin notebook {
    @media (max-width: #{$notebook-width}) {
        @content;
    }
}

@mixin TabletHorizontal {
   @media (max-width: #{$tablet-horizontal}) {
    @content;
  }
}

@mixin TabletVertical {
    @media (max-width: #{$tablet-vertical}) {
        @content;
    }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
