/* NG5-Slider */

.ng5-slider {
    margin: 0 0 15px !important;
        .ng5-slider-pointer {
        width: 20px !important;
        height: 20px !important;
        top: -8px !important;
        background: #fff !important;
        box-shadow: 0 0 5px #000;
        &:after {
            content:none !important;
        }
    }
    .ng5-slider-selection {
        background: $cor1 !important;
    }
    
    .ng5-slider-bubble {
        display: none !important;
    }
}

/* Material Angular */

.mat-checkbox {
    display: block;
    @include font($fontRegular,14,$cor3);
}
.mat-checkbox-frame {
    border-width: 1px !important;
}

.check-circle { 
    display: inline-block !important;
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
    .mat-checkbox-inner-container{
        width: rem(33)!important;
        height: rem(33) !important;
    }
    .mat-checkbox-frame {
        border-radius: 50px !important;
    }
    &.mat-checkbox-checked.mat-accent .mat-checkbox-background, &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: $cor3 !important;
        border-radius: 50px !important;
    }
    .mat-checkbox-checkmark {
        padding: 5px;
    }
}


