/*Fonts*/
$fontBold: "Gotham-Black";
$fontMedium: "Gotham-Medium";
$fontLight: "Gotham-Medium";
$fontRegular:"Gotham-Book";
$fontello:"fontello";

/*cores*/
$cor1: #64238d;
$cor2: #1fbec8;
$cor3: #626386;
$corBorda:#dfe0ec;

$preto:#000;
$branco:#fff;