<div class="mod" [class.ativo]="stateModal">
    <div class="bg" (click)="closeModal()"></div>
    <div class="overlay">
        <div class="main">
            <i class="icon-cancel" (click)="closeModal()"></i>
            <ng-content></ng-content>
        </div>
    </div>
</div>
