@import "../../../../../src/theme/mixins.scss";
@import "../../../../../src/theme/placeholders.scss";
@import "../../../../../src/theme/variaveis.scss";

.mod {
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    &.ativo {
        display: block;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bg {
        background: rgba(0, 0, 0, 0.55);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index:9;
    }
    .main {
        position: relative;
        background: #fff;
        padding: rem(35) rem(40) rem(40) rem(40);
        color:#64238d;
        z-index:99;
        .icon-cancel {
            display: block;
            text-align: right;
            font-size: rem(24);
            color:#9c9191;
            position: relative;
            right: -4px;
            cursor: pointer;
            &:before {
                margin: 0;
            }
        }
    }
}