@import "../theme/mixins.scss";
@import "../theme/variaveis.scss";

.topo {
    background: $cor1;
    position: relative;
}
.scroll .headerTudx{
    height: rem(65);
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    .content {
        width: 1188px;
        margin: 0 auto;
        @media (max-width: 1140px) {
            width: 100%;
            margin: 0;
        }
        .menu {
            padding: rem(15) rem(24) rem(15) rem(24);
            @media (max-width: 1140px) {
                padding-left: 10px
            }
            &:before {
                height: rem(0);
            }
        }

        .logo-busca {
            display: flex;
            align-items: center;
            .logo {
                width: rem(100);
                left: initial;
            }
            .busca {
                display: block;
                width: rem(540);
                margin-left: 10px;
                padding: 0;
                height: auto;
                border: none;
                .form {
                    width: 100%;
                    margin: 0;
                    &::before {
                        content: '';
                    }
                }
                input {
                    height: rem(45);
                }
                .input-busca {
                    font-size: rem(14.5);
                    padding: rem(20);
                    @include notebook {
                        font-size: rem(14);
                    }
                }
                .submit-busca {
                    @include notebook {
                        top:0px;
                    }
                    font-size: rem(16);
                }
            }
        }
        
        .menuRight {
            padding: rem(15) 0;
            ul li {
                padding: rem(4) rem(10);
                &:last-child {
                    padding-right: rem(34);
                }
                span {
                    display: none;
                }
            }
        }
        .menuRight ul li:first-child {
            span {
                display: inline-block;
            }
        }
    }
}