<nsu-modal #confirmacaoCadastro>
    <h2>Sua conta foi ativada com sucesso!</h2> 
</nsu-modal>

<!-- <nsu-modal-alert></nsu-modal-alert> -->
<!--<nsu-modal-alert #modalAlert [txtAlert]="textAlert" [tipoDeMsg]="tipoDeMsg" [custom]="custom" [tempo]="tempo"></nsu-modal-alert>-->

<button (click)="testemodalAlert()">Abrir Modal alerta</button>  

<section class="pg-home">
    
    <main class="container">
        <app-promo></app-promo>
        <app-pontodeinteresse></app-pontodeinteresse>
        <app-anuncios></app-anuncios>
        <app-anuncios></app-anuncios> 
        <app-promo></app-promo>
        <app-anuncios></app-anuncios>
        <app-promo></app-promo>
    </main>
    
    <app-diferenciais></app-diferenciais>
    
</section>