<div [class.scroll]="scroll == true" class="form control">

    <div class="relative">
        <i class="icon-search" (click)="enter()"></i>
        <input class="input" type="text" placeholder="{{placeholder}}" 
            [formControl]="control" 
            (keyup.arrowdown)="moveDown()"
            (keyup.arrowup)="moveUp()"
            (keyup.backspace)="resetValue()"
            (keydown.enter)="enter()"
        />
        <i class="icon-cancel" *ngIf="valor != ''" (click)="reset()"></i>
    </div>
    

    <ul *ngIf="opcoes.length != 0" class="autocomplete">
        <li *ngIf="count != 0" [class.ativo]="count == 0">
            {{valor}}
        </li>
        <li *ngFor="let item of opcoes" [class.ativo]="item == inputValue" (click)="pesquisar(item)">
            {{item}}
        </li>
        <ng-content></ng-content>
    </ul>

</div>