@import "../../../../../src/theme/mixins.scss";
@import "../../../../../src/theme/placeholders.scss";
@import "../../../../../src/theme/variaveis.scss";

.form {
    position: relative;
    .relative {
        .icon-search {
            color: $cor1;
            font-size: rem(30);
            position: absolute;
            top: rem(12);
            left: rem(10);
            z-index: 99999;
            cursor: pointer;
            @include notebook {
                top: rem(3);
            }
        }
        .icon-cancel {
            color: $cor1;
            font-size: rem(22);
            position: absolute;
            top: rem(20);
            right: rem(5);
            z-index: 99999;
            cursor: pointer;
            @include notebook {
                top: rem(10);
            }
        }
    }
    .input {
        width: 100%;
        height: 60px;
        padding: rem(20) rem(20) rem(20) rem(60);
        @include font($fontRegular, 14.5, $cor1);
        font-weight: bold;
        @include input-placeholder($cor1);
        border-radius: 5px;
        box-shadow:0 0 10px rgba(0, 0, 0, 0.28);
        position: relative;
        z-index: 8;
        @include notebook {
            height: 50px;
            font-size: rem(15.5);
        }
    }
    .autocomplete {
        width: 100%;
        background: #fff;
        border-radius: 0 0 5px 5px;
        position: relative;
        top: -6px;
        z-index: 7;
        padding: 15px 0;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27058823529411763);

        li {
            @include font($fontRegular, 14.5, $cor1);
            padding:10px 20px;
            cursor: pointer;
            text-transform: lowercase;
            @extend %transition;
            &:hover {
                background: #dcd5d5;
            }
            &.ativo {
                background: #dcd5d5;
            }
        }
    }

    &.scroll {
        .relative {
            .icon-cancel {
                font-size: rem(18);
                top:rem(13);
                right: rem(5);
            }
            .icon-search {
                font-size: rem(26);
                top:rem(7);
                left: rem(4);
            }
        }
        .input {
            height: rem(44);
            font-size: rem(14.5);
            padding: rem(20) rem(35) rem(20) rem(50);
            @include notebook {
                font-size: rem(14);
            }
        }
        .autocomplete {
            position: absolute;
            top: rem(39);
            li {
                cursor: pointer;
            }
        }
    }
}