<div class="pg-erro">
    
    <main class="container">
        <div class="msgErro">
            <h2>Opa! Não encontramos resultados para <strong class="bold">"{{valor}}"</strong>.</h2>
        </div>
        <app-anuncios></app-anuncios>
        <app-anuncios></app-anuncios>
        <app-promo></app-promo> 
    </main>

</div>
