@charset "UTF-8";

/* HELPERS */
@import "./theme/mixins.scss";
@import "./theme/placeholders.scss";
@import "./theme/variaveis.scss";

/* CSS BASE */
@import "./theme/fonts.scss";
@import "./theme/generic.scss";

/* Component */
@import "./theme/box-produto.scss";
@import "./theme/plugins.scss";
@import "./theme/animations.scss";
@import "./theme/headerProduto.scss";
@import "./theme/forms.scss";
@import "./theme/toast.scss";

/* Tema material angular */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    color:$cor3;
}

.container {
    padding: 0;
}

main.container {
    margin-top: rem(-79);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
    position: relative;
    @include notebook {
        margin-top: rem(-85);
    } 
} 

.overflow {
    overflow:hidden;
}

h1, h2, h3 {
    @include font($fontRegular,20,$cor3);
    line-height: 1.6;
}

p {
    @include font($fontRegular,14,$cor3);
}

.bold {
    font-family: $fontBold;
    text-transform: uppercase;
}

.txt {
    @include font($fontLight, 16, $preto);

    p {
        line-height: 1.4;
        margin-bottom: 20px;
    }
}

.btn {
    width: 100%;
    max-width: rem(240);
    border-radius: 5px;
    border:1px solid $cor1;
    text-align: center;
    @extend %transition;
    &:hover {
        background: $cor1;
        a {
            color:#fff;
        }
    }
    a{
        @include font($fontRegular,15,$cor1);
        padding: 3px rem(15);
        display: block;
    }
}

.box-header {
    background: #f5f5f5;
    padding: rem(50) rem(25) rem(3) rem(25);
    border:1px solid $corBorda;
    border-bottom: 0;
    .ver-todos{
        @include font($fontRegular,14,$cor1);
        margin-left: rem(20);
        position: relative;
        top: -1px;
        text-decoration:none;
        i{
            font-size: rem(12);
        }
    }
}

.swiper-container {
    padding: 0 30px;
}