@import '../../../theme/mixins.scss';
@import '../../../theme/variaveis.scss';

.diferenciais {
    text-align: center;
    .col-md-3:last-child .box:before {
        width: 0;
    }
    .box {
        padding: rem(25) rem(25) rem(55);
        position: relative;
        &:before {
            content:" "; 
            position: absolute;
            width: 1px;
            height: rem(295);
            background: $corBorda;
            top: rem(43);
            right: 0;
        }
        .icone {
            padding: rem(20) 0;
            i{
                font-size: rem(60);
                color:$cor3;
            }
        }
        .titulo {
            h2 {
                font-size: rem(18);
            }
        }
        .desc {
            margin: rem(16) 0;
            p {
                line-height: 1.6;
                //margin: 0;
            }
        }
        .link {
            padding: rem(10);
            a {
                @include font($fontRegular,14,$cor1);
                text-decoration: none;
                font-weight: bold;
                i{
                    font-size: rem(12);
                }
            }
        }
    }
}




