<section class="diferenciais">
    <div class="container">
        <div class="row no-gutters">
            <div class="col col-md-3">
                <div class="box">
                    <div class="icone">
                        <i class="icon-anuncie"></i>
                    </div>
                    <div class="titulo">
                        <h2>Anuncie aqui</h2>
                    </div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        </p>
                    </div>
                    <div class="link">
                        <a href="#" title="">
                            <i class="icon-right-open"></i> Saiba mais
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="box">
                    <div class="icone">
                        <i class="icon-troca"></i>
                    </div>
                    <div class="titulo">
                        <h2>Clube da troca</h2>
                    </div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        </p>
                    </div>
                    <div class="link">
                        <a href="#" title="">
                            <i class="icon-right-open"></i> Saiba mais
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="box">
                    <div class="icone">
                        <i class="icon-pagseguro"></i>
                    </div>
                    <div class="titulo">
                        <h2>Segurança</h2>
                    </div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        </p>
                    </div>
                    <div class="link">
                        <a href="#" title="">
                            <i class="icon-right-open"></i> Saiba mais
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="box">
                    <div class="icone">
                        <i class="icon-menorpreco"></i>
                    </div>
                    <div class="titulo">
                        <h2>Menores preços</h2>
                    </div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        </p>
                    </div>
                    <div class="link">
                        <a href="#" title="">
                            <i class="icon-right-open"></i> Saiba mais
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
