.modal-alert {
    position: fixed;
    top: 10%;
    right: 5%;
    background: #20bec9;
    padding: 15px;
    border-radius: 5px;
    min-width: 300px;
    z-index: 999;
    max-width: 500px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.38);

    &.sucess {
        background: green;
        i:before { 
            font-family: "fontello";
            content: '\e81e'; 
        }
    }
    &.error {
        background: red;
        i:before {
            content: '\e81c';
        }
    }
    &.notification {
        background: #c3c30c;
        i:before {
            content: '\f0f3';
        }
    }
    &.mensage {
        padding: 25px 15px;
    }
    .content {
        color:#fff;
        font-size:16px; 
        font-family:"Gotham-Book";
        display: flex;
        align-items: center;
        span {
            display: flex;
            align-items: center;
            .icon {
                font-size: 35px;
                margin-right: 5px;
                &::before {
                    font-family: "fontello";
                    font-style: normal;
                    font-weight: normal;
                    speak: none;
                    display: inline-block;
                    text-decoration: inherit;
                    width: 1em;
                    margin-right: 0.2em;
                    text-align: center;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1em;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
        }
        .img {
            width: 40px;
            height: 40px;
            margin-right: 15px;
            display: none;
            img {
                border-radius: 50%;
            }
            &.ativo {
                display: block;
            }
        }
    }
    .icon-cancel {
        font-size: 30px;
        position: absolute;
        top: -15px;
        right: -20px;
        color: #fff;
        &::before {
            content: "\e817" !important;
        }
    }
}