<div *ngIf="stateModal" [class]="stateAnimation == true ? animateOpenModal + classAlert : animateCloseModal + classAlert" [ngStyle]="{'background': custom[2]}">
    <i class="icon-cancel" (click)="closeModal()"></i>
    
    <div class="content">
        <div class="img" [class.ativo]="img != null">
            <img src="{{img}}" alt="">
        </div>
        <span><i *ngIf="custom[0] != ''" class="icon"></i> {{txtAlert}}</span>
    </div>
</div>
 